<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('metaAndLinks'); %>
    <%- include('commonScripts'); %>
      <title>Simply Video - Home</title>
</head>

<body>
  <div class="home d-flex align-items-center justify-content-center">
    <div>
      <div class="row">
        <img class="img-fluid img-thumbnail home-avatar rounded" src="/images/avatars/avatar-male-3.png" alt="My Avatar"
          srcset="">
      </div>
      <ul class="container mt-2">
        <li class="row home-option home-option-selected" id="Name">Name</li>
        <li class="row home-option" id="Room">Room</li>
        <li class="row home-option" id="Avatar">Avatar</li>
      </ul>
      <div class="home-option-input">
        <input type="text" name="avatarName" id="avatarName" placeholder="John Doe">
      </div>
      <div class="home-option-input invisible">
        <input type="text" name="roomInputId" id="roomInputId" placeholder="room id" aria-describedby="roomHelp">
        <small id="roomHelp" class="form-text text-muted">If none, a random one will be generated</small>
      </div>
    </div>
  </div>
</body>

</html>