#video-grid {
  display              : grid;
  grid-template-columns: repeat(1, 1fr);
  gap                  : 0px;
}

#other-video-grid {
  position   : relative;
  grid-column: span 1;
  grid-row   : 1;
  padding    : 5px;
}

#my-video-grid {
  position   : relative;
  grid-column: span 1;
  grid-row   : 2;
  padding    : 5px;
}

#myVideoControls {
  width: 50%;
}

#othersVideoControls {
  width: 80%;
}

@media (min-width:800px) {
  #video-grid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 10px;
    grid-auto-rows       : minmax(300px, auto);
  }

  #other-video-grid {
    position   : relative;
    grid-column: span 2;
  }

  #my-video-grid {
    position   : relative;
    grid-column: span 1;
    grid-row   : span 1;
  }

  #myVideoControls {
    width: 45%;
  }

  #othersVideoControls {
    width: 65%;
  }
}

.main h3 {
  position: absolute;
  color   : darkgray;
  bottom  : 0px;
  left    : 5px;
}

video {
  width        : 80%;
  height       : 80%;
  object-fit   : cover;
  max-height   : 35vh;
  max-width    : 90vw;
  border-radius: 5px;
}

@media (min-width:800px) {
  video {
    max-height: 85vh;
    max-width : 60vw;
  }
}

.video-paused {
  position   : absolute;
  color      : red;
  top        : 50%;
  font-weight: bolder;
}

.my-video-paused {
  position   : absolute;
  color      : red;
  top        : 50%;
  font-weight: bolder;
}

@media (min-width:800px) {
  .my-video-paused {
    top: 25%;
  }
}

#usersIdentity {
  cursor: pointer;
}

.pos-left-top-corner {
  position: absolute;
  left    : 8%;
  top     : 5%;
}

.transparent {
  opacity: 0.3;
}

.bg-lightgray {
  background-color: rgba(233, 233, 233, 0.37);
}

.ball-loader {
  width    : 125px;
  height   : 25px;
  left     : 50%;
  position : absolute;
  transform: translateX(-40%);
  top      : 5%;
}

.ball-loader-ball {
  will-change     : transform;
  height          : 25px;
  width           : 25px;
  border-radius   : 50%;
  background-color: black;
  position        : absolute;
  animation       : grow 1s ease-in-out infinite alternate;
}

.ball-loader-ball.ball1 {
  left            : 0;
  transform-origin: 100% 50%;
}

.ball-loader-ball.ball2 {
  left           : 50px;
  transform      : translateX(-50%) scale(1);
  animation-delay: 0.33s;
}

.ball-loader-ball.ball3 {
  left           : 75px;
  animation-delay: 0.66s;
}

@keyframes grow {
  to {
    transform: translateX(-50%) scale(0);
  }
}