#video-grid {
  display              : grid;
<<<<<<< HEAD
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows       : 300px;
=======
  grid-template-columns: repeat(3, 1fr);
  gap                  : 10px;
  grid-auto-rows       : minmax(300px, auto);
}

.main h3 {
  position: absolute;
  color   : darkgray;
  bottom  : 0px;
  left    : 5px;
}

#other-video-grid {
  position   : relative;
  grid-column: span 2;
}

#my-video-grid {
  position   : relative;
  grid-column: span 1;
  grid-row   : span 1;
  padding    : 25px;
}

#myVideoControls {
  width: 25%;
}

#othersVideoControls {
  width: 35%;
>>>>>>> myversion
}

video {
  width     : 80%;
  height    : 80%;
  object-fit: cover;
}

.transparent {
  opacity: 0.3;
}

.bg-lightgray {
  background-color: rgba(233, 233, 233, 0.37);
}

.ball-loader {
  width    : 125px;
  height   : 25px;
  left     : 50%;
  position : absolute;
  transform: translateX(-40%);
  top      : 5%;
}

.ball-loader-ball {
  will-change     : transform;
  height          : 25px;
  width           : 25px;
  border-radius   : 50%;
  background-color: black;
  position        : absolute;
  animation       : grow 1s ease-in-out infinite alternate;
}

.ball-loader-ball.ball1 {
  left            : 0;
  transform-origin: 100% 50%;
}

.ball-loader-ball.ball2 {
  left           : 50px;
  transform      : translateX(-50%) scale(1);
  animation-delay: 0.33s;
}

.ball-loader-ball.ball3 {
  left           : 75px;
  animation-delay: 0.66s;
}

@keyframes grow {
  to {
    transform: translateX(-50%) scale(0);
  }
}